* {
    border-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.15s;
    text-align: center;
}

h1 {
    background-image: linear-gradient(#F425A9,#FF33B8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 25px;
}

h3 {
    
    margin: 0px;
    font-weight: 1;
    margin-bottom: 2px;
}

h4 {
    
    margin: 0px;
    font-weight: 1;
    margin-bottom: 2px;
}

input {
    border-color: black;
    text-align: center;
    width: 80%;
    border-radius: 5px;
    border-width: 2px;
    margin-bottom: 15px;
    min-height: 25px;
}

textarea {
    border-color: black;
    border-radius: 5px;
    border-width: 2px;
    margin-bottom: 15px;
    width: 80%;
    resize: none;
    min-height: 250px;
}

.output {
    border-color: black;
    border-radius: 5px;
    border-width: 2px;
    margin-bottom: 15px;
    width: 80%;
    resize: none;
    min-height: 650px;
}

.triggers {
    border-color: black;
    border-width: 2px;
    border-color: black;
    margin-bottom: 15px;
    width: 80%;
    resize: none;
    min-height: 150px;
}

hr {
    border-color: black;
    width: 95%;
    height: 3px;
    border: none;
    border-radius: 6px;
    background: black;
}

.gradient {
    border-color: black;
    width: 65%;
    height: 3px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(#F425A9,#FF33B8);
}